
cmake-*/

.idea/

other/

compiler/tests/logs/*

compiler/tests_IR/logs/*

compiler/stack.hh

compiler/scanner.cpp

compiler/position.hh

compiler/parser.tab.h

compiler/parser.tab.c

compiler/parser.output

compiler/parser.hh

compiler/parser.cpp

compiler/location.hh

compiler/lex.yy.cc
