
cmake-build-debug/

.idea/

other/

compiler/tests/logs/*
!compiler/tests/logs/created_files.txt

compiler/tests_IR/logs/*
!compiler/tests_IR/logs/created_files.txt

compiler/stack.hh

compiler/scanner.cpp

compiler/position.hh

compiler/parser.tab.h

compiler/parser.tab.c

compiler/parser.output

compiler/parser.hh

compiler/parser.cpp

compiler/location.hh

compiler/lex.yy.cc
